body {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	font-size: 18px;
	padding: 0 10px;
}

h1, h2, h3 {
	line-height: 1.2
}
a {
	color:darkblue;
	text-decoration: none;
}

ul {
	list-style-type: '-';
}

ul.links{
	list-style-type: none;
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
}


.imgcenter {
	text-align: center;
}
